*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topbar{
    background-color: #0b0b12;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.upgrade{
    border: 1px solid white;
    border-radius:30px;
    padding: 10px 30px;
    width: max-content;
    color: white;
}