*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.click{
    cursor: pointer;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #282828;
}

.container .main{
    height: calc(100% - 100px);
    background-color: grey;
    display: flex;
    flex-direction: row;
}

.main .leftbar{
    height: 100%;
    width: 300px;
    background-color: black;
}

.container .main .leftbar .logo{
    width: 200px;
    padding: 20px;
}

.list .link-leftbar{
    list-style-type: none;
    padding-left: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fa-square-plus{
    font-size: 3em;
}

.size{
    display: flex;
    align-items: center;
    gap: 10px;
}

main{
    background-color: #141922;
    width: calc(100% - 300px);
    height: 100%;
    overflow-y: auto;
}

.topbar{
    height: 100px;
    background-color:rgba(0,0,0, .4);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.button{
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;

}

.main-center{
    padding-top: 20px;
}

.main-center .list-link{
    display: flex;
    list-style-type: none;
    gap: 2em;
    flex-direction: row;
    justify-content: center;
    color: white;
    opacity: .4;
    font-weight: bolder;
}

.recently-played{
    padding: 60px 20px;
    color: white;
}

.recent{
    font-size: 2.5em;
    margin-bottom: 15px;
}

.album-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.album-container .album{
    width: calc(100% / 6 - (15px / 6 * 5));
}

.album-img{
    margin-bottom: 10px;
}

.album-title{
    text-align: center;
    margin-bottom: 5px;
    color: white;
    font-size: 1.5em;
}

.author{
    text-align: center;
    opacity: .3;
}

.created-for{
    padding-left: 20px;
}

.john-doe{
    color: white;
    font-size: 2em;
}

.created-for .tip{
    color: white;
    opacity: .3;
    padding-top: 10px;
    padding-bottom: 20px;
}


.popular-artist{
    padding: 30px 20px;
    color: white;
}

.popular-artist .popular{
    font-size: 2em;
}

.popular-artist .opacity{
    opacity: .3;
    padding-top: 10px;
}

.circle{
    border-radius: 100%;
    padding-top: 20px;
}

