*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

main{
    height: calc(100vh - 90px);
    overflow: hidden;
    background-color: aqua;
}

footer{
    height: 90px;
    background-color: yellow;
}

.leftbar{
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 20px;
    height: calc(100vh - 90px);
    justify-content: space-between;
    padding-left: 25px;
    color: white;
}

.topbar{
    background-color: grey;
    padding: 20px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    height: max-content;
}

.upgrade{
    border: 1px solid white;
    padding: 10px 30px;
    height:max-content;
    color: white;
    border-radius: 20px;
    
}

.logo{
    width: 200px;
    padding-top: 20px;
}

#nav-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    flex-grow: 1;
}

.add{
    font-size: 30px;
}

.new-playlist{
  display: flex;
  gap: 18px;
  align-items: center;
}


.footer-leftbar{
    padding-bottom: 80px;
}